body {
    -webkit-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

div#container{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

div#quiz{
    background-color: #ffffff;
    position: relative;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    --progress: 0;
    --transitionTime: 1000ms;
}

div#quiz::before{
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #37474f;
    height: 3px;

    transform: scaleX(var(--progress));
    transform-origin: left;
    transition: transform, var(--transitionTime) linear;
}

div#questionDiv{
    /* border: solid 1px black; */
    margin-left: 2.5%;
    width: 95%;
    overflow: hidden;
    text-align: left;
}

div#resultDiv{
    margin-left: 2.5%;
    width: 95%;
}

div#choicesDiv{
    display: flex;
    flex-direction: column;
}

button.btn{
    position: relative;
    border: solid 1px black;
    background-color:#eceff1;
    border-radius: 5px;
    margin-bottom: 1%;
    font-size: larger;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    cursor: pointer;
    transition: background-color, 100ms ease-in-out;
}

button.btn:disabled{
    background-color: #eceff1;
    color: black
}

button.btn:active{
    background-color:white;
    outline:none;
}

button.btn:focus{
    outline:none;
}

button.btn::before{
    border-radius: 5px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 2px;

    transform: scaleX(0);
    transition: transform, 300ms ease-in-out;
}

button.btn:hover::before{
    transform: scaleX(1);
}

button.btn.selected{
    background-color: #ffffff;
}

button.btn.correct{
    border: solid 1px #64dd17;
}

button.btn.correct::before{
    background-color: #1faa00;
}

button.btn.wrong{
    border: solid 1px #d50000;
}

button.btn.wrong::before{
    background-color: #9b0000;
}

